html {
    scroll-behavior: smooth;
    margin: 0; padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

body{
    margin: 0; padding: 0%;
    height: 100%; width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffffc;
    color: #00171f;
}

main{
    text-align: center; align-items: center;

    /* Flex */
    display: flex; 
    flex-direction: column;     /* Column: spaced vertically / Elements travel on y-axis and not x-axis */
    /* flex-direction: row; */  /* Column: spaced horizontally / Elements travel on x-axis */ 

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;

    height: 80vh;
    row-gap: 30px;
}

#urlBox{
    border: 1px solid black; border-radius: 10px;
    
    display: flex;
    flex-direction: row !important;
    gap: 10px;

    padding: 20px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);

    transition: all 0.3s ease-in-out;
}

#urlBox:hover{
    box-shadow: 0px 15px 1px rgba(0, 0, 0, 1.0);
}

#inputURL{
    border: 4px dashed rgb(0, 0, 31);
    border-radius: 5px;
}

.convertBTN{
    /* background-image: url("Assets/svg/cnvBTN.svg"); */
    width: 200px; height: 100px;

    transition-duration: 0.4s;

    border: none;
    cursor: pointer;
    background-color: white; background-color: #fffffc;

    transform: scale(1,1);

    color: #FFFFFF;
    transform: translateX(0px);
}
.convertBTN:hover{
    /* background-image: url("Assets/svg/cnvBTN.svg"); */
    width: 200px; height: 100px;

    border: none;
    cursor: pointer;
    background-color: white; background-color: #fffffc;

    transform: scale(1.1,1.1);
    /* filter: drop-shadow(30px 10px 4px #4444dd); */
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    
    display: flex;
    align-items: center;
    gap: 10px; /* Space between text and SVG */
    padding: 10px 20px;
    background: white;

}
.convertBTN:hover .arrow {
    filter: url(#arrowShadow); /* Shadow only on the arrow */
}

footer{
    text-align: center;
    align-items: center;
}